<mat-nav-list class="main-menu-container sidenav" fxLayout="column" fxLayoutGap="12px">
    <!-- <a mat-list-item [routerLink]="['/home']" [routerLinkActive]="['active-list-item']" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
    <a mat-list-item [routerLink]="['/content']" [routerLinkActive]="['active-list-item']" [routerLinkActiveOptions]="{exact: true}">Content</a>
    <a mat-list-item [routerLink]="['/imageset']" [routerLinkActive]="['active-list-item']">Image</a>
    <a mat-list-item [routerLink]="['/language']" [routerLinkActive]="['active-list-item']">Language</a>
    <a mat-list-item [routerLink]="['/contact']" [routerLinkActive]="['active-list-item']">Contact</a>
  </mat-nav-list>