
<mat-card class="wrapper">
    <h3>Kaungrwai</h3>
    <div class="login" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="signInUser.email" name="email" id="email" required>
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="signInUser.password" name="password" id="password" required>
          </mat-form-field>
        <button mat-flat-button class="submit-btn" (click)="login()">Log in</button>
    </div>
</mat-card>

<div>
   
</div>
